@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    align-items: center;
    justify-content: center;
    
}
.containar{
    position: relative;
 
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%
    
}
    /* navigation bar */
header{
    position: fixed;
    height: 60px;
    background-color:#49c0eb;
    width: 100%;
    z-index: 4;
}
.icon{
    float: left;
    margin-top: 18px;
    margin-left: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.bar{
    display: none;
}
.colse{
    display: none;
}
.nav{
    display: block ;
    float: right;
    margin-top: 20px;
    margin-right: 50px;
    z-index: 2;

}
ul{
  text-decoration: none;
   
}
li{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    justify-content: space-between;
}
.nav a{
    text-decoration: none;
    color: black;
}
.nav a:hover{
    text-decoration: none;
    color: #fff;
}
        /* showcase area */
.showcase{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("../images/desktop/image-header.jpg");
    background-size: cover;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    
}
.showcase h1{
    width: 100%;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    position: absolute;
    color: #fff;
    justify-content: center;
    margin-top: 15%;
    font-size: 60px;
    align-items: center;
    
}
.showcase .aro{

    width: 100%;
    position: absolute;
    justify-content: center;
    margin-top: 350px;
    font-size: 100px;
}

        /* card section */
.cardSection{
    justify-items: center;
    height: auto;
}
.card{

    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}
.dectription{
    margin: 0;
    width: 50%;
    padding: 10%;
    align-items: center;
    justify-content: center;  
    text-align: left;
       
    
}
.dectription h2{
    padding-bottom: 20px;
    font-size: 30px;
} 
.btn{
    margin-top: 20px;
    border: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #fff;
}
.card img{
    max-width: 50%;
    height: auto;
}
.card2section{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.card1{
    width: 50%;
    height: 20vh;
    background-image: url("../images/desktop/image-graphic-design.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin: 0;
    padding: 40% 15% 0 15%;
    justify-content: center;
    align-items: center;
}
.card2{
    width: 50%;
    height: 20vh;
    background-image: url("../images/desktop/image-photography.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin: 0;
    padding: 40% 15% 0 15%;
    justify-content: center;
    align-items: center;
}
h2{
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Acme';
    font-style: normal;
}
        /* team Section */
.teamSection{
    display: flex;

    height: 60vh;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.teamTitle{
    width: 100%;
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 40px;
    text-transform: uppercase;
    color:black;
    justify-content: center;
    align-items: center;
}

.image img{
    z-index: -1;
    width: 60px;
    border-radius: 100%;
    padding: 30px;
}


.teamCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    
}
.teamCard p{
    padding: 20px;
}
.teamCard h4{
    font-size: larger;
}
 
        /* Garid Section */
.blog{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.blog img{
    width: 100%;
    border: 0.5px solid;
}

        /* Footer */
footer{
    position: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:-4px;
    padding: 20px;
    height: 20vh;
    background-color: #8dd9d1;
    color: #02635a;
}
footer h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.menu{
    margin-top: 40px;
    color: #02635a;    
}
.menu a{
    color: #02635a;
    justify-content: space-between;
    padding: 20px;
    text-decoration: none;
}
.socal{
    margin-top: 20px;
}
.socal a{
    color: #02635a;
    padding: 20px;
}
.socal a :hover{
    color: #fff;
    
}


@media screen and (max-width:870px) {

header{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.icon{
    margin-left: -75%;
}
nav{
    margin: 0;
    background-color: #fff;
    width: 100%;
    
}
ul{
    width: 100%;
     justify-content: center;
     align-items: center;
}

nav li{
    
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 10px 15px 10px 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    

}
nav a:hover{
    background-color: yellow;
   padding: 5px 10px 5px 10px;
   color: gray !important;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   border: 1px solid black;   
}
.active{
    display: block;
}
.bar{
    position: absolute;
    margin-top: 8px;
    display: block;
    border-radius: 5px;
    margin-left: 90%;    
    border: 2px black solid;
    padding: 10px;
    width: 15px;
}

.colse{
    position: absolute;
    margin-top: 8px;
    border-radius: 5px;
    margin-left: 90%;
    display: block;
    border: 2px black solid;
    padding: 10px;
    width: 15px;
}
.colse :hover{
    color: #fff;
    z-index: 3;
}
.bar :hover{
    color: #fff;
    z-index: 3;
}
.showcase h1{
    margin-top: 25%;
}    

.hidden{
    display: none;
}
        /* about us */
.card2section{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.card1{
    width: 80%;
    background-position: top center;
    height: 40vh;
    font-size: x-large;  
  

}
.card2{
    width: 80%;
    background-position: top center;
    height: 40vh;
    font-size: x-large; 
}
        /* team section */
.teamSection{
    margin-top: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 300px;
}
}